.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55vmax; 
}
.container1{
  margin-top: -10%;
  margin-left: 5%;
}
.text1{
  margin-top: 10%;
  color: rgb(39, 32, 32); 
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.container2 {
  width: 900px;
height: 629px;
flex-shrink: 0;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.5) url('../../../../assets/images/CoursesLanding.png') 50% / cover no-repeat;
}
/* Style for the Get Started button */
.getStartedButton {
  width: 170px;
  height: 46px;
  flex-shrink: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
          drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
          drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
          drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 20px; 
  font-weight: 700;
  border-radius: 20px;
  background-color: #506DD4; 
  color: #FFFFFF; 
  border: none; 
  cursor: pointer;
}
.getStartedButton:hover {
  background-color: #405CA7; 
}
/* Style for the transparent circle */
.transparentCircle {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: -15%;
  margin-left: -33%;
  width: 1000.326px;
height: 1013.577px;
transform: rotate(-80.508deg);
    background-color: rgba(40, 111, 158, 0.5); /* Transparent white background */
    border-radius: 1039.577px;
    background: linear-gradient(204deg, #506DD4 40%, rgba(80, 109, 212, 0.00) 79.09%);
    mix-blend-mode: hard-light;
  pointer-events: none; 
}

