.showCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two items per row */
    gap: 20px; /* Adjust the gap between items */
  }
.CardBox {
   height: 123px;
   width: 540px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    padding: 15px;
   display: flex;
   align-items: center;
    gap: 30px; 
  }
.image{
  height: 103px;
  border-radius: 10px;
}
.h1{
    color: #0A033C;
font-family: PT Serif Caption;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
}
.RightSide {
    grid-column: span 5; /* RightSide takes 5 columns */
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .WholeCard{
    display: grid;
    align-items: center;
    
    grid-template-columns: repeat(4, 1fr);
  }
  