.Box{
    justify-content: center;
    width: 60vh;
    height: 80vh;
    flex-shrink: 0; 
    background-color: #EEEDED;
    filter: drop-shadow(3px 7px 4px rgba(0, 0, 0, 0.50));
    border-radius: 13px;
}
.heading{
    height: 8.1vh;
    display: flex;
    justify-content: center;
    color: #3465E1;
    margin-top: 8vh;
font-size: 8vh;
font-style: normal;
font-weight: 500;
}
.verify{
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}
.text1{
    color: #828282;
    margin-top: 7vh;
    /* padding: 20px; */
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.15px;
}
.otpsection{
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.continue{
    display: flex;
    color: #EEEDED;
    height: 8vh;
justify-content: center;
align-items: center;
border-radius: 5px;
background: #0064E1;
margin-top: 4vh;
}
.resend{
    margin-top: 6vh;
    justify-content: center;
    align-items: center;
    color: #828282;
text-align: center;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.25px;
}
.save{
    width: 325.464px;
height: 57.99px;
flex-shrink: 0;
border-radius: 50px;
background: var(--main-button, #1643E5);
color: var(--light-version-surface-white, #FFF);
text-align: center;
font-family: DM Sans;
font-size: 17.28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}