.Contains{
    margin-top: 50px;
}
.Contains h3{
    width: 190px;
    height: 40px; 
    color: #000;
    font-family:Arial, Helvetica, sans-serif; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.41px;

}
.Contains input{
    width: 250px;
    padding-left: 10px;
    height: 40px;
    fill: #FFF;
    border-radius: 10px;
    border: 1px solid #616161;
    color: #616161;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.17px;

}
.ages label{
  display: flex;
}
.ages{ display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 50px;  
    row-gap: 30px;
  }   
  .ages label input[type="radio"] {
    -webkit-appearance: none;  
    -moz-appearance: none;
    appearance: none;
    width: 23px;  
    height: 23px; 
    border-radius: 0; 
    margin-right: 5px; 
    background: #D9D9D9;
  }  
  .ages label input[type="radio"]:checked {
    background-color: #185CAC;
    filter: blur(0.5px);
    cursor: pointer;
    border-radius: 5px;
  }
  .ages label input[type="radio"]:hover {
  cursor: pointer;
  }
  .Contains button{
    width: 150px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    border-radius: 10px;
  }