.Cards{
    gap:'20px'
}
.card{
    padding: 10px;
    padding-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    gap: 30px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.10), 2px 2px 2px 0px rgba(0, 0, 0, 0.10) inset;
    }
    .card button{
        width: 80px;
        height: 26px;
    }