.Cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display 3 columns in each row */
    gap: 16px;
}
.card{
    width: 320.631px;
    height: 400.366px;
    border-radius: 10px;
    background: #FFF;
    padding: 11px;
    padding-left: 20px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.10), 2px 2px 2px 0px rgba(0, 0, 0, 0.10) inset;
}
.image{
  display: flex;
  justify-content: center;
}
.heading{
  font-family: monospace ;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.formRow {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  gap: 100px;
}

.formField {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #000;
  opacity: 0.9;
  background: #FFF;
  padding-left: 20px;
  padding-right: 20px;
}
.formField {
  display: block;
  margin-bottom: 5px;
}
.formField textarea{
  border: 1px solid #000;
  border-radius: '20px';
  padding-left: 10px;
  padding-top: 10px;
}
#dec{
  width: 189px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FF2B2B;
  border: none;
  color: #FFF;
}
#accept{
  width: 189px;
  height: 51px;
  color: #FFF;
  border-radius: 10px;
  background: rgba(0, 176, 0, 0.65);
  border: none;
}